<!DOCTYPE html>
<html>
	<head>
		<title>Portfolio</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">			<link rel="stylesheet" href="/stylesheets/main.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
	</head>
	<body id="home_body">
	<div id="home_div" class="container">
		<div id="landing-header">
 			<h1 class="home_h1">J U N W E O N</h1>
			<h1 class="home_h1">S U H</h1>
			<p id="home_desc">Programmer<br>Explorer</p>		
			<div class="d-grid gap-2 col-4">
			<a id="home_button" href="./projects" class="btn btn-lg btn-outline-light">Explore</a>
			</div>
   		</div>
	</div>
	</body>
</html>